* {
  margin: 0;
  padding: 0;
  font-family: SF Display Pro;
  color: #ffffff;
  box-sizing: border-box;
}

* {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url("/assets/bgbg.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__container {
  margin: 0 5%;
}
.main__container .navigation__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0 0 0;
}
.main__container .navigation__container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main__container .navigation__container ul li {
  margin-right: 40px;
  font-size: 1.5rem;
}
.main__container .navigation__container ul li:last-child {
  margin-right: 0;
}
.main__container .navigation__container ul a {
  text-decoration: none;
}
.main__container .navigation__container ul a:hover {
  color: #DEDEDE;
}
.main__container .navigation__container h1 {
  margin: 0;
  text-align: center;
  flex: 1;
  font-size: 3.5rem;
  color: #ffffff;
}
.main__container .navigation__container h2 {
  text-align: center;
}
.main__container .banner {
  display: flex;
}
@media (max-width: 768px) {
  .main__container .banner {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 820px) {
  .main__container .banner {
    justify-content: center;
    flex-direction: column;
  }
  .main__container .banner p {
    margin: auto;
  }
}
.main__container .banner .banner__description {
  margin: 20vh 0 0 0;
  color: #ffffff;
}
@media (max-width: 768px) {
  .main__container .banner .banner__description {
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 15vh 0 0 0;
  }
}
.main__container .banner .banner__description h2 {
  font-size: 1.5rem;
}
.main__container .banner .banner__description p {
  font-size: 1.5rem;
  width: 65%;
}
@media (max-width: 768px) {
  .main__container .banner .banner__description p {
    width: 100%;
  }
}
.main__container .banner .spotlight__banner {
  margin: 15vh 0 0 0;
}
.main__container .banner .spotlight__banner .spotlight__title {
  text-align: center;
  padding-bottom: 15px;
}
.main__container .banner .spotlight__mangas__cards {
  display: flex;
}
@media (max-width: 768px) {
  .main__container .banner .spotlight__mangas__cards {
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 820px) {
  .main__container .banner .spotlight__mangas__cards {
    justify-content: center;
  }
}
.main__container .banner .spotlight__mangas__cards div {
  margin-right: 10px;
  transition: transform 0.2s;
}
.main__container .banner .spotlight__mangas__cards div:hover {
  transform: scale(1.1);
}

.title__container {
  margin-bottom: 20px;
  font-size: 2.3rem;
}
.title__container h2 {
  font-size: 2.3rem;
}

.manga__detail_container p {
  width: 50%;
}

.manga__detail__description {
  width: 75%;
  margin: auto;
  margin-bottom: 15vh;
}
.manga__detail__description h2 {
  padding-bottom: 20px;
}
.manga__detail__description h3 {
  padding-bottom: 20px;
}
.manga__detail__description p {
  padding-bottom: 20px;
  color: #DEDEDE;
}
.manga__detail__description .checked {
  color: #ffde00;
}
.manga__detail__description .manga__title {
  font-size: 2.8rem;
}
.manga__detail__description .price__tag {
  font-size: 2.3rem;
}

.item__container .item__image img {
  margin: auto;
  display: flex;
}
@media (max-width: 768px) {
  .item__container .item__image img {
    max-width: 100%;
    height: auto;
  }
}

footer {
  display: flex;
  justify-content: space-around;
}
footer h4 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.manga__description {
  font-size: 1rem;
  width: 70%;
}
.manga__description h5 {
  color: #636363;
}

.manga__cards {
  display: flex;
  justify-content: space-between;
  margin: 2.5vh 0 0 0;
}
.manga__cards .manga__card {
  width: 213px;
}
@media (max-width: 768px) {
  .manga__cards {
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 820px) {
  .manga__cards {
    flex-wrap: wrap; /* Ensure wrapping when the width is reduced */
  }
  .manga__card {
    width: 48%; /* Two cards next to each other */
  }
}
.pagination {
  display: flex;
  margin-top: 2.5vh;
  justify-content: center;
}
.pagination .pagination__item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  margin: 0 5px;
  cursor: pointer;
}
.pagination .pagination__item:hover {
  background-color: #000000;
  color: #ffde00;
}

.forum__container, .title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: border-box;
}

.item__container {
  margin-top: 15vh;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .item__container {
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.login__container {
  margin-top: 25vh;
}

.forum__container input {
  width: 15rem;
  color: #000000;
}

.filters select {
  width: 15rem;
  color: #000000;
}
.filters label {
  width: 50px;
  display: inline-block;
}

.filter__container button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
.filter__container h3,
.filter__container h4,
.filter__container label {
  margin-bottom: 10px;
}

.button__container button, .login__container button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  width: 15rem;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
