@use 'base' as *;

.manga__description {
  @include mangaCardLayout();
  h5 {
    color: $color-darkgrey;
  }
}

.manga__cards {
  .manga__card {
    width: 213px;
  }

  display: flex;
  justify-content: space-between;
  margin: 2.5vh 0 0 0;
  @media (max-width: 768px) {
    @include scalaViewLayout();
  }

}

@media screen and (max-width: 820px) {
  .manga__cards {
    flex-wrap: wrap;
  }

  .manga__card {
    width: 48%;
  }
}

.pagination {
  display: flex;
  margin-top: 2.5vh;
  justify-content: center;

  .pagination__item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-white;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: $color-black;
      color: $color-yellow;
    }
  }
}

.forum__container, .title__container {
  @include alignToMiddle();
}

.item__container {
  margin-top: 15vh;
  display: flex;
  justify-content: space-around;
  @media (max-width: 768px) {
    @include scalaViewLayout();
  }
}

.login__container {
  margin-top: 25vh;
}

.forum__container {
  input {
    @include componentSize();
    @include inputStyling();
  }
}

.filters {
  select {
    @include componentSize();
    @include inputStyling();
  }

  label {
    width: 50px;
    display: inline-block;
  }
}

.filter__container {
  button {
    @include buttonStyling();
  }

  h3,
  h4,
  label {
    margin-bottom: 10px;
  }
}

.button__container, .login__container {
  button {
    @include buttonStyling();
    @include componentSize();
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
}
